.config/alacritty/*

.config/cmus/playlists/*
.config/cmus/lib.pl
.config/cmus/queue.pl
.config/cmus/resume
.config/cmus/search-history
.config/cmus/command-history
.config/cmus/cache

.config/i3/scripts
.config/i3/config_
.config/i3blocks/*

# !.config/kak/plugins/hotsadboi/*
.config/kak/test.kak
.config/kak/ocaml.kak
.config/kak/mymeliora.kak
.config/kak/commands.kak
.config/kak/йцукен.kak
.config/kak/plugins/tabs.kak
.config/kak/plugins/smarttab.kak

.config/kak/plugins/.build/*
.config/kak/plugins/auto-pairs.kak
# .config/kak/plugins/hotsadboi
.config/kak/plugins/kak-lsp
.config/kak/plugins/kakoune-focus
.config/kak/plugins/kakoune-palette
.config/kak/plugins/kakoune-phantom-selection
.config/kak/plugins/kakoune-select-view
.config/kak/plugins/kakoune-surround
.config/kak/plugins/kakoune-text-objects
.config/kak/plugins/kakoune-vertical-selection
.config/kak/plugins/kakoune-vue
.config/kak/plugins/kak-subvert
.config/kak/plugins/plug.kak
.config/kak/plugins/smarttab.kak
.config/kak/plugins/vlang.kak
# .config/kak/plugins/tabs.kak
.config/kak/plugins/hotsadboi/reverse/_build/*
.config/kak/plugins/hotsadboi/reverse/.merlin
.config/kak/plugins/hotsadboi/reverse/reverse
.config/kak/plugins/hotsadboi/reverse/dune-workspace
.config/kak/plugins/hotsadboi/reverse/out

.config/vis/*
.config/yazi/*
.config/zathura/*
.config/pavucontrol.ini
.config/.ocamlformat
